---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-blue align-top">Hi 👋</h1>
			<p>
				<h2>My name is Chris</h2>
				<h2>Data Scientist and JavaScript Developer</h2>
			</p>
			<article>
				<p>
					I am an experienced data scientist and software engineer who
					helps businesses make better decisions with data. I offer a
					wide range of services, including data analysis, machine
					learning, and artificial intelligence. We are passionate
					about helping businesses grow and succeed. I believe that
					data is the key to success, and I use these skills to help
					businesses make the most of their data. If you are looking
					for a partner to help you make better decisions with data,
					please contact me. I would be happy to discuss your needs
					and see how we can help you achieve your goals.
				</p>
				<p>
					I also have experience with full stack web development using
					Javascript tech stacks such as PERN, MERN, and Next.JS to
					build business toolkits such as CRM, lending and
					Micro-finance Software, and customer portals.
				</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
